<h2>Challenge 1 - Display list of all names</h2>
{{! Edit below this line}}


<h2>Challenge 2 - Display list of all names in UPPERCASE</h2>
{{! Edit below this line}}


<h2>Challenge 3 - Display a list of users who are admins</h2>
{{! Edit below this line}}


<h2>Challenge 4 - Display a list of users along with their age</h2>
{{! Edit below this line}}


<h2>Challenge 5 - Display a list of users who are logged in or a label 'Log In' if the user is not logged in.</h2>
{{! Edit below this line}}
